#Todo_container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 300px 150px 0;
  /* صفحه اول */
  & > div {
    position: relative;
    width: 40%;
    height: 500px;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    img {
      background-color: #efefef;
      width: 100px;
      height: 100px;
      transition: 300ms ease;
    }
    h3 {
      font-size: 2.25rem;
      margin-top: 40%;
      margin-bottom: 2rem;
    }
  }
  #todoList_box {
    overflow-y: scroll;
  }
  #todoList_box2 {
    width: 100%;
    height: 100%;
  }
  #createTodo_box2 {
    width: 100%;
    height: 100%;
  }
  /* صفحه دوم */
  /* جدول لیست کار */
  #todosTable {
    position: absolute;
    top: 1rem;
    background-color: #efefef;
    margin: auto;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    height: 500px;
    border-collapse: collapse;
    &:tr:nth-child(even) {
      background-color: #ddd;
    }
    &:th {
      font-size: 0.95rem;
      border: 1px solid #3a3a3a;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    &:td {
      font-size: 0.85rem;
      border: 1px solid #3a3a3a;
    }
  }
  //   /* فرم ایجاد کار جدید */
  #createTodo_box form {
    margin-top: 40%;
    width: 80%;
    input {
      border: none;
      outline: none;
    }
    .input:nth-child(1) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
    }
    .input:nth-child(2) {
      margin: 1.5rem 0;
    }
    .submit {
      display: flex;
      align-items: flex-end;
      justify-content: end;
      width: 100%;
    }
    .submit input {
      background-color: #3a3a3a;
      color: #efefef;
      cursor: pointer;
      border: none;
      outline: none;
    }
    input,
    label {
      font-size: 1rem;
      padding: 5px 12px;
    }
    #title {
      width: 100%;
    }
  }
  /* قسمت شخصی سازی */
  #customize {
    position: fixed;
    height: 200px;
    width: calc(100%-300px);
    top: 50px;
    left: 150px;
    right: 150px;
    background-color: #efefef;
    box-shadow: 0 5px 8px #3a3a3a4d;
    padding: 1.5rem 2rem;
    overflow-y: scroll;
    h2 {
      padding-bottom: 0.75rem;
      text-align: center;
      position: fixed;
      width: calc(100% - 300px);
      top: 3rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: #efefef;
      height: 80px;
      line-height: 5rem;
      box-shadow: 0 5px 8px #3a3a3a15;
    }
    .customize_wrapper {
      margin-top: 4rem;
      padding-top: 0.25rem;
      display: flex;
      align-items: flex-start;
      justify-content: start;
      flex-wrap: wrap;

      & > div {
        width: 50%;
        height: 42px;
        margin: 0.5rem 0;
      }
      .customize_box_1 {
        input {
          width: 90%;
          max-width: 400px;
          border: none;
          outline: none;
          background-color: transparent;
          padding: 0.5rem 1rem;
          box-shadow: 0 5px 8px #3a3a3a4d;
        }
      }
    }
  }
}
